@import "variables.scss";
.logo {
    background-image: url('assets/images/login.svg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.form-section {
    padding: 134px 156px 0;
    display: flex;
    flex-direction: column;
    align-items: center;    

    .login-form {
        width: 100%;
    }
    .form-input-label {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: rgba(108, 99, 255, 0.69);
        padding-left: 25px;
    }
    .form-title {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: #6C63FF;
        margin-bottom: 82px;
    }
    .form-input {
        border: 2px solid rgba(0, 0, 0, 0.49);
        border-radius: 42px;
        height: 60px;
        margin-bottom: 62px;
    }
    .login-btn {
        background: #6C63FF;
        border-radius: 65px;
        padding: 13px 0;
        width: 337px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
    .home-btn {
        margin-top: 16px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
        color: $color-blue-70;
    }
}